<%- contentFor('title') %>
    <%=name%>'s stories

<%- contentFor('stylesheets') %>
<%- contentFor('scripts') %>
    <script type="text/javascript" src="/js/dashboard.controller-compiled.js"></script>

<%- contentFor('body') %>
    <%- include('templates/navbar') %>
    <div class="body-content">
        Yo you're all logged in <%=name%><br/>
        <!-- TODO(Ariel): Dear god when angular is hooked up get rid of this -->
        For now, click this button to log out
        <form action="/logout" method="post">
            <input type="submit">
        </form>

        <div ng-controller="DashboardController">
            <h1>Library</h1>
            <a ng-repeat="story in stories" ng-href="/editor?id={{story._id}}">
                <div class="profiles">
                    <div class="details">{{story.title}}<br>{{story.description}}</div>
                </div>
            </a>

            <button ng-click="showForm()">Add New Story</button>
            <div id="addStoryModal" class="modal" ng-hide="hideForm">
                <div class="modal-content">
                    <div class="modal-header">
                        Create New Story <span class="close" ng-click="showForm()">×</span>
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            Image: <input type="file" accept="image/*" name="image" ng-model="image"> <br/>
                            <input type="text" name="title" ng-model="title" placeholder="Title"> <br/>
                            <input type="text" name="description" ng-model="description" placeholder="Blurb"> <br/>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button ng-click="addStory()" class="create-btn"> Create </button>
                    </div>
                </div>
            </div>
        </div>
    </div>