<%- contentFor('title') %>
    <%=storyTitle%>
<%- contentFor('stylesheets') %>
    <link rel="stylesheet" href="/css/editor.css"/>
<%- contentFor('scripts') %>
    <script type="text/javascript" src="/js/filters-compiled.js"></script>
    <script type="text/javascript" src="/js/editor_canvas-compiled.js"></script>
    <script type="text/javascript" src="/js/editor_canvas.directive-compiled.js"></script>
    <script type="text/javascript" src="/js/editor.service-compiled.js"></script>
    <script type="text/javascript" src="/js/toolbar.controller-compiled.js"></script>
    <script type="text/javascript" src="/js/character.directive-compiled.js"></script>
    <script type="text/javascript" src="/js/context_menu.directive-compiled.js"></script>
    <script type="text/javascript" src="/js/image_input.directive-compiled.js"></script>
<%- contentFor('body') %>
    <%- include('templates/navbar') %>
    <div class="body-content" ng-controller="ToolbarController">
        <div class="toolbar">
            <div class="button" ng-click="onToolClick('addChar')">
                <img class="icon" src="/assets/action_addCharacter.png"/>
            </div>
            <div class="button" ng-click="onToolClick('library')">
                <img class="icon" src="/assets/action_library.png"/>
            </div>
            <div class="popup-panel" ng-hide="activeTool !== 'addChar'">
                <div class="header">
                    Create New Character
                    <span class="close-icon" ng-click="onClose()">×</span>
                </div>
                <div class="form-container">
                    <form role="form">
                        <image-input>
                            <img class="preview-img" src="/images/characters/" default_img="/images/characters/"/>
                            <input type="file" accept="image/*" name="newImage">
                        </image-input>
                        <span class="error-message">{{ newErrorMsg }}</span>
                        <input type="text" name="name" ng-model="newCharacter.name" placeholder="Name">
                        <input type="text" name="age" ng-model="newCharacter.age" placeholder="Age">
                        <textarea type="text" rows="6" name="description" ng-model="newCharacter.description" placeholder="Blurb"></textarea>
                    </form>
                    <div class="footer">
                        <button ng-click="addCharacter()" class="create-btn"> Create </button>
                    </div>
                </div>
            </div>
            <div class="popup-panel character-library" ng-hide="activeTool != 'library'">
                <div class="header">
                    Your Characters
                    <span class="close-icon" ng-click="onClose()">×</span>
                </div>
                <div class="characters">
                    <div ng-repeat="character in characters" class="character" character>
                        <div class="character-actions" ng-show="hovered">
                            <div class="icon" ng-click="charAction('editCharacter');">E</div>
                            <div class="icon" ng-click="charAction('deleteCharacter');">x</div>
                        </div>
                        <img ng-src="{{ character.image_url }}"  ng-click="selectCharacter(character)"/>
                        {{ character.name }}
                    </div>
                    <span class="message" ng-show="characters.length === 0">
                        You have no characters in your library!
                    </span>
                </div>
            </div>
            <div class="popup-panel" ng-hide="activeTool !== 'editChar'">
                <div class="header">
                    Edit Character
                    <span class="close-icon" ng-click="onClose()">×</span>
                </div>
                <div class="form-container">
                    <form role="form">
                        <image-input>
                            <img class="preview-img"
                                 ng-src="{{ '/images/characters/' + character._id + '.' + character.img_extension | decache }}"
                                 default_img="/images/characters/{{character._id}}.{{character.img_extension}}"/>
                            <input type="file" accept="image/*" name="image">
                        </image-input>
                        <span class="error-message">{{ errorMsg }}</span>
                        <input type="text" name="name" ng-model="character.name" placeholder="Name">
                        <input type="text" name="age" ng-model="character.age" placeholder="Age">
                        <textarea type="text" rows="6" name="description" ng-model="character.description" placeholder="Blurb"></textarea>
                    </form>
                    <div class="footer">
                        <button ng-click="saveCharacter()" class="create-btn"> Save </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-container">
            <div class="context-menu" context-menu ng-show="contextMenuOpen === true">
                <div class="menu-item" ng-click="selectOption('addRelationship')">Add Relationship</div>
                <div class="menu-item" ng-click="selectOption('editChar')">Edit</div>
                <div class="menu-item" ng-click="selectOption('removeNode')">Remove</div>
            </div>
            <canvas editor id="canvas" width="800" height="600">
                Your browser doesn't support HTML5 canvas!
            </canvas>
        </div>
    </div>
