<%- contentFor('title') %>
    <%=storyTitle%>
<%- contentFor('stylesheets') %>
    <link rel="stylesheet" href="/css/editor.css"/>
<%- contentFor('scripts') %>
    <script type="text/javascript" src="/js/editor_canvas-compiled.js"></script>
    <script type="text/javascript" src="/js/editor_canvas.directive-compiled.js"></script>
    <script type="text/javascript" src="/js/editor.service-compiled.js"></script>
    <script type="text/javascript" src="/js/toolbar.controller-compiled.js"></script>
<%- contentFor('body') %>
    <%- include('templates/navbar') %>
    <div class="body-content" ng-controller="ToolbarController">
        <div class="toolbar" >
            <div class="button" ng-click="setActiveTool('addChar')">
                +C
            </div>
            <div class="button" ng-click="setActiveTool('library')">
                Lib
            </div>
            <div class="popup-panel" ng-hide="activeTool !== 'addChar'">
                Create New Character <span class="close" ng-click="setActiveTool(null)">×</span>
                <form role="form">
                    <input type="text" name="name" ng-model="character.name" placeholder="Name"> <br/>
                    <input type="text" name="age" ng-model="character.age" placeholder="Age"> <br/>
                    <input type="text" name="description" ng-model="character.description" placeholder="Blurb"> <br/>
                </form>
                <button ng-click="saveCharacter()" class="create-btn"> Create </button>
            </div>
            <div class="popup-panel" ng-hide="activeTool != 'library'">
                Your Characters<span class="close" ng-click="setActiveTool(null)">×</span>
                <div class="character" ng-repeat="character in characters">
                    {{ character.name }}
                </div>
            </div>
        </div>
        <div class="canvas-container">
            <canvas editor id="canvas" width="800" height="600">
                Your browser doesn't support HTML5 canvas!
            </canvas>
        </div>
    </div>
