<%- contentFor('title') %>
    Welcome!
<%- contentFor('stylesheets') %>
    <link rel="stylesheet" href="/css/landing.css"/>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
    <div class="logo">
        <img class="logo" src="/assets/logo_white.png"/>
    </div>
    <div class="form">
        <h3><%=message%></h3>
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="Email"> <br>
            <input type="password" name="password" placeholder="Password"> <br>
            <input type="submit" value="Log In"> <br>
        </form>

        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Pen Name"> <br>
            <input type="text" name="email" placeholder="Email"> <br>
            <input type="password" name="password" placeholder="Password"> <br>
            <input type="submit" value="Register">
        </form>
        <p> Already have an account? Login here. </p>
    </div>
